/* 
centering things if you're using Flexbox.)
The name should be centered below the avatar
The background should be a different colour than the nav and the body
The background-image should be a transparent pattern. Feel free to use this tool to 
assist: https://www.transparenttextures.com/ 
*/

header.user {
  height: 400px;
  width: 100vw;
  background: url(../images/food.png);
  background-color: #202b3a;
  /*#33585d*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user img {
  height: 15rem;
}

#error {
  display:none;
}

div.name {
  display: flex;
  justify-content: flex-start;
  font-size: 22px;
  letter-spacing: 0.1em;
  margin: 0px;
  text-decoration: underline #EEC124;
  text-underline-offset: 0.35em;
}

div h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  text-shadow: #FFF 0px 0px 2px, #3F2463 0px 0px 2px, #3F2463 0px 0px 5px, #3F2463 0px 0px 7px, #3f2463c9 0px 0px 19px, #3f2463a4 0px 0px 10px;
}