/* 
centering things if you're using Flexbox.)
The name should be centered below the avatar
The background should be a different colour than the nav and the body
The background-image should be a transparent pattern. Feel free to use this tool to 
assist: https://www.transparenttextures.com/ 
*/

header.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100vw;
  background: url(../images/food.png);
  background-color: #202b3a;
}

.user img {
  height: 8rem;
}

#error {
  display: none;
}

div.name {
  display: flex;
  justify-content: flex-start;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
  margin: 0px;
  text-decoration: underline #EEC124;
  text-underline-offset: 0.35em;
}

div.name {
  margin-top: 0px;
  margin-bottom: 10px;
  text-shadow: #FFF 0px 0px 2px, #6f00ff 0px 0px 2px, #eec224c2 0px 0px 5px, #eec22493 0px 0px 7px, #eec22478 0px 0px 9px, #eec22423 0px 0px 10px;
}

/* Tablet view */
@media only screen and (min-width: 768px) {
  .user img {
    height: 15rem;
  }
  header.user {
    height: 40vh;
    min-height: 300px;
  }
  div.name {
    font-size: 1.3rem;
    margin: 1rem;
  }
}

/* Desktop view */
@media only screen and (min-width: 1024px) {

  header.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-width: 330px;
    position: sticky;
    top: 0;
    left: 0;
  }
  .user img {
    height: 16rem;
  }
  div.name {
    font-size: 1.5rem;
    margin: 1.1rem;
  }
}