nav {
  color: #ffffff;
  height: 120px;
  width: 100vw;
  background-color: #4056A1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav span {
  font-family: 'Bungee', sans-serif;
  margin: 1.5em;
}

nav div {
  margin: 1.5em;
  font-size: .7em;
  align-content: center;
  justify-content: center;
}


/* 
The inner content should not be touching the viewport edge on any side and should remain 1.5ems away from all edges */