section.new-tweet {
  display: flex;
  flex-direction: column;
  min-height: 12em;
  width: 60vw;
}

.new-tweet h2 {
  font-family: Tahoma, sans-serif;
  font-size: 0.8em;
  color: #fffffff1;
  margin-left: 2em;
  margin-top: 1.5em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.new-tweet h2::first-letter{
  color: #ED451D;
}

form {
  display: flex;
  flex-direction: column;
  min-height: 8em;
  width: 60vw;
  justify-content: center;
  align-self: center;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 13px 15px 15px -3px rgba(0, 0, 0, 0.404);
  transition: 0.2s;
}

form:hover {
  box-shadow: 20px 20px 10px -2px rgba(0, 0, 0, 0.74);
  margin-right: 3vw;
}

textarea {
  border: none;
  resize: none;
  overflow: auto;
  opacity: .9;
  outline: none;
  width: 80%;
  height: 3em;
}

textarea#tweet-text {
  display: flex;
  flex-direction: column;
  border-bottom: solid 2.8px #7EA4A9;
  align-self: center;
  background-color: #ffffffda;
}

textarea::placeholder {
  opacity: .65;
  color: #545149;
  font-family: Tahoma, sans-serif;
  justify-content: flex-end;
}

form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-counter {
  width: 77%;
  align-self: center;
}

.button-counter button {
  border: none;
  transition-duration: .3s;
  font-family: 'Bungee', sans-serif;
  font-size: .75em;
  color: #ED451D;
  background: #ffffff;
  padding: .2em .45em .2em .45em;
  margin-top: .5em;
  border-radius: 10px;
}

form:hover .button-counter button {
  font-family: 'Bungee', sans-serif;
  color: rgba(255, 255, 255, 0.9);
  background: #ED451D;
  padding: .2em .45em .2em .45em;
  margin-top: .5em;
  border-radius: 10px;
}


form:hover .button-counter button:hover {
  background-color: #ffffffda;
  color: rgba(64, 86, 161, 0.8);
  box-shadow: 0 8px 0px -6px #4056A1;
  border-radius: 0px;
}

.counter {
  font-family: Tahoma, sans-serif;
  color: #7EA4A9;
  font-size: 0.5em;
  font-weight: 900;
}