section.new-tweet {
  display: flex;
  flex-direction: column;
  min-height: 10em;
}

.new-tweet h2 {
  font-family: Tahoma, sans-serif;
  font-size: 0.6em;
  color: #fffffff1;
  margin-left: 2em;
  margin-top: 2rem;
}

.new-tweet h2::first-letter {
  color: #ED451D;
}

#short {
  display: none;
  color: #ED451D;
}

#short::first-letter {
  color: #fffffff1;
}

#long {
  display: none;
  color: #ED451D;
}

#long::first-letter {
  color: #fffffff1;
}

form {
  display: flex;
  flex-direction: column;
  min-height: 6em;
  width: 90vw;
  justify-content: center;
  align-self: center;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 13px 15px 15px -3px rgba(0, 0, 0, 0.404);
  margin-bottom: 3vh;
  transition: 0.2s;
}

form:hover {
  box-shadow: 20px 20px 10px -2px rgba(0, 0, 0, 0.74);
  margin-right: 3vw;
}

textarea {
  border: none;
  resize: none;
  overflow: auto;
  outline: none;
  width: 80%;
  height: 3em;

}

textarea {
  display: flex;
  flex-direction: column;
  border-bottom: solid 2.8px #7EA4A9;
  align-self: center;
  background-color: #ffffffda;
  padding:.2em .2em 0 .5em
}

textarea:focus {
  -webkit-box-shadow:0px 0px 20px 0px rgba(191,175,214,1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(191,175,214,1);
  box-shadow: 0px 0px 20px 0px rgba(191,175,214,1);
  border-radius: 15px;
  border-bottom: solid 0px #ffffff;
}

textarea::placeholder {
  color: #5451497e;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: Tahoma, sans-serif;
}

form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.button-counter {
  width: 77%;
  align-self: center;
  margin-top: .5em;
}

.button-counter button {
  border: none;
  transition-duration: .3s;
  font-family: 'Bungee', sans-serif;
  font-size: .75em;
  color: #ED451D;
  background: #ffffff;
  padding: .2em .45em .2em .45em;
  margin-top: .5em;
  border-radius: 10px;
}

form:hover .button-counter button {
  font-family: 'Bungee', sans-serif;
  color: rgba(255, 255, 255, 0.9);
  background: #ED451D;
  padding: .2em .45em .2em .45em;
  margin-top: .5em;
  border-radius: 10px;
}

form:hover .button-counter button:hover {
  background-color: #ffffffda;
  color: rgba(64, 86, 161, 0.8);
  box-shadow: 0 8px 0px -6px #4056A1;
  border-radius: 0px;
}

.counter {
  font-family: Tahoma, sans-serif;
  color: #7EA4A9;
  font-size: 0.5em;
  font-weight: 900;
}

/* Tablet view */
@media only screen and (min-width: 768px) {
  form {
    min-height: 15vh;
    width: 80vw;
  }
  .new-tweet h2 {
    margin-top: 2.5rem;
    font-size: 0.8em;
    margin-left: 3em;
  }
  #catch-up {
    margin-top: 1rem;
  }
}

/* Desktop view */
@media only screen and (min-width: 1024px) {
  .container {
    margin: 100px;
  }
  section.new-tweet {
    width: 60vw;
    /* margin-top: 100px; */
  }

  .new-tweet h2 {
    margin-top: 3rem;
    margin-left: 5em;
  }
  form {
    width: 45vw;
    justify-content: center;
    align-self: center;
    min-height: 175px;
    max-width: 750px;
  }
}